<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment1</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Kurser</h1>
        <nav>
            <ul class="navlinks">
                <li><a href="/" class="current">Startsidan</a></li>
                <li><a href="/addcourses">Lägg till kurser</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>
    <div id="formStyle">

        <div id="courseDetails">
            <div>
                <h2>Kurser</h2>
            <% if (rows && rows.length > 0) { %>
                <% rows.forEach((course) => { %>
                    <ul class="list">
                        <li>Kurs: <%= course.courseName %></li>
                        <li>Kurskod: <%= course.courseCode %></li>
                        <li>Hemsida: <a href="<%= course.courseUrl %>"><%= course.courseUrl %></a></li>
                        <li>Progression: <%= course.courseProgression %></li>
                    </ul>
                    <button id="clearbutton" type="button" class="btn">Ta bort ur listan</button>
                    <% }) %>
                    <% } else { %>
                        <p>Inga kurser har lagts till än.</p>
                    <% } %>
                </div></div>
</div>
</body>
</html>